 {% extends 'base.html' %}

 {% block head %} 
  <title>HOME</title>
 {% endblock %}

 {% block body %} 
 <br>
  <h1>HOME PAGE</h1>
  <br>
  <main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>WELCOME</h1>
        <br>
        <p>Welcome to Aryan's blog. A tech blog and everything related to Computer Science</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Go to Blog Posts »</a>
        </p>
      </div>
    </div>
  </main>
 {% endblock %}